<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="top_headline">持っているコスメ一覧</h2>
    </div>
  </div>
  <div class="row">
  	<div class="col-12">
  	  <% @cosmetics.each do |cosme| %>
  	    <div class="top_cosme">
  	    	<%= link_to cosmetic_path(cosme) do %>
		  	  <div class="top_cosme_items">
		  	     <%= attachment_image_tag cosme, :image, class:"img-square border", width:"100%", height:"90%" %>
              <div class="top_cosme_items_text">
                <%= cosme.brand.name %> <%= cosme.product_name %> <%= cosme.created_at.strftime('%Y/%m/%d') %>
              </div>
		  	  </div>
		  	<% end %>
		  	</div>
  	  <% end %>
  	</div>
  </div>
</div>