<div class="container">
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			<h1 class="show_cosmetic_header">持っているコスメ</h1>
			<h2 class="show_cosmetic_header"><%= @cosme.product_name %></h2>
			<div class="show_cosmetic_image">
				<%= attachment_image_tag @cosme, :image, class:"img-square border", size:"300x300", fallback:"no_image.jpg" %>
		    </div>
		    <div class="show_cosmetic_text">
		      <table class="table">
		      	<tbody>
		      	  <tr>
		      		<th>ブランド名</th>
			    	<td><%= @cosme.brand.name %></td>
			      </tr>
			      <tr>
			        <th>製品名</th>
			    	<td><%= @cosme.product_name %></td>
			      </tr>
			      <tr>
			      	<th>色ジャンル</th>
			    	<td><%= @cosme.color_genre.name %></td>
			      </tr>
			      <tr>
			      	<th>色１</th>
			    	<td><%= @cosme.color1 %></td>
			      </tr>
			      <tr>
			      	<th>色２</th>
			    	<td><%= @cosme.color2 %></td>
			      </tr>
			      <tr>
			      	<th>色３</th>
			    	<td><%= @cosme.color3 %></td>
			      </tr>
			      <tr>
			      	<th>色４</th>
			    	<td><%= @cosme.color4 %></td>
			      </tr>
		        </tbody>
		      </table>
		    </div>
		</div>
        <div class="col-1"></div>
	</div>
	<div class="row">
		<div class="col-12">
		  <div class="delete_button">
			<%= link_to "削除する", cosmetic_path(@cosme), method: :delete, class:"btn btn-danger" %>
		  </div>
		</div>
	</div>
</div>